.App {
  text-align: center;
}

.App__header {
  background-color: #73111E;
  height: 100px;
  padding: 20px;
  color: #FBD445;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__title {
  font-size: 2.5em;
  font-family: 'Forum', sans-serif;
}

.App__logo {
	width: 50px;
	height: 60px;
	margin-left: 20px;
}

.input {
	margin-top: 30px;
	border: solid 2px #73111E;
	width: 80%;
	height: 25px;
	align-items: center;
	font-size: 1em;
}

.characters-list {
	list-style: none;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.characters__container {
	display: flex;
   flex-direction: column;
   width: 60%;
   align-content: center;
   justify-content: center;
   margin: auto;
   border: 1px solid;
}

.dead, .live {
	width: 50px;
	height: 50px;
}

.characters__photo {
	width: 170px;
	height: 220px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	margin-bottom: 20px;
	border-radius: 7%;
}

.characters__photo:hover {
	transform: scale(1.1);
}


.characters__icons {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

.characters__houses {
	width: 60px;
	height:10px;
	padding-top: 50px;
}

.houses--Gryffindor {
	background: url('./images/gryffindor.svg') center no-repeat;
	background-size: cover;
}

.houses--Slytherin {
	background: url('./images/slytherin.svg') center no-repeat;
	background-size: cover;
}

.houses--Ravenclaw {
	background: url('./images/ravenclaw.svg') center no-repeat;
	background-size: cover;
}

.houses--Hufflepuff {
	background: url('./images/hufflepuff.svg') center no-repeat;
	background-size: cover;
}

.information {
	height: 300px;
	background-color: #FBD445;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	background-color: #73111E;
}

.footer__copyright {
	font-size: 14px;
	text-decoration: none;
	color: #FBD445;
}

@media all and (min-width: 600px) {
	.characters-list {
		grid-template-columns: 1fr 1fr;
	}
}


@media all and (min-width: 1000px) {
	.characters-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
