.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  align-items: center;
  justify-content: center;
}

.list-character {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0;
}


.input {
	margin-top: 30px;
	border: solid 1px;
	width: 80%;
	height: 25px;
	align-items: center;
	font-size: 1em;
}

.dead {
	width: 10%;
	height: 10%;
}

.photo {
	border: solid 4px;
	width: 150px;
}

@media all and (min-width: 450px) {
	.list-character {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width: 600px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media all and (min-width: 750px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media all and (min-width: 1000px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
