.App {
  text-align: center;
}

.App-header {
  background-color: #73111E;
  height: 100px;
  padding: 20px;
  color: #FBD445;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Forum', sans-serif;
}

.glasses {
	width: 50px;
	height: 60px;
	margin-left: 20px;
}

.list-character {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0;
}

.element-list {
	/* background-color: #73111E; */

}

.input {
	margin-top: 30px;
	border: solid 2px #73111E;
	width: 80%;
	height: 25px;
	align-items: center;
	font-size: 1em;
}

.dead, .live {
	width: 50px;
	height: 50px;
}

.photo {
	border: solid 4px;
	width: 150px;
}

.icons {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.houses {
	width: 50px;
	padding-top: 50px;
	overflow: hidden;
}

.houses--Gryffindor {
	background: url('./images/gryffindor.png') center no-repeat;
	background-size: cover;
}

.houses--Slytherin {
	background: url('./images/slytherin.jpg') center no-repeat;
	background-size: cover;
}

.houses--Ravenclaw {
	background: url('./images/ravenclaw.jpg') center no-repeat;
	background-size: cover;
}

.houses--Hufflepuff {
	background: url('./images/hufflepuff.jpg') center no-repeat;
	background-size: cover;
}

@media all and (min-width: 450px) {
	.list-character {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width: 600px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media all and (min-width: 750px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media all and (min-width: 1000px) {
	.list-character {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
